// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary: #240046;
$secondary: #070520;
$secondary-1: #59189a1f;
$accent: #fa709a;

$dark: #413D53;
$dark-page: #04021e;

$positive: #2ecc71;
$negative: #ee5253;
$info: #2e86de;
$warning: #ff9f43;

$grey-1: #f6f8fa;
$grey-4: #EDEDEE;
$grey-6: #605e6f;

$typography-font-family: "poppins", Helvetica, Arial, sans-serif;
